$main-color: #e24e42;

body{
    margin: 0;
    padding: 0;
    height: 100vh;

}

#app{
    height: 100%;

}
.all{
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer, header{
    background-color: $main-color;
    color: #fff;
    font-family: 'Pacifico', cursive;

}
header{
    height: 10vh;
    font-size: 30px;
    position: absolute;
   left: 0;
   top: 0;
   height: 50px;
   width: 100%;
   overflow:hidden;
}
footer{
    position: absolute;
   left: 0;
   bottom: 0;
   height: 30px;
   width: 100%;
   overflow:hidden;
   text-align: center;

    a{
        color: #fff;
    }
}
