$main-color: #e24e42;

body{
    margin: 0;
    padding: 0;
    height: 100vh;

}

#app{
    height: 100%;

}
.all{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer, header{
    background-color: $main-color;
    color: #fff;
    font-family: 'Pacifico', cursive;

}
header{
    height: 10vh;
    font-size: 30px;

   height: 50px;
   width: 100%;

}
footer{

   height: 30px;
   width: 100%;
   text-align: center;

    a{
        color: #fff;
    }
}


.RecipeArea{
    width: 900px;
    height: 500px;
    background-color:rgba(198, 198, 198, 0.1);
    margin: 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;




}
.NewRecipeBtn{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #008f95;
    color: #FFF;
    font-weight: bold;
    align-self:center;
}

.RecipeBox{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 80%;

.Recipe{
    border-bottom: 1px solid #E24E42;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
